USE [CONSYSDB]
GO
/****** Object:  Table [dbo].[ABCFARMA]    Script Date: 10/07/2022 14:46:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ABCFARMA](
	[ID_PRODUTO] [numeric](9, 0) NULL,
	[EAN] [char](13) NULL,
	[REGISTRO_ANVISA] [char](13) NULL,
	[GGREM] [char](15) NULL,
	[NOME] [char](50) NULL,
	[DESCRICAO] [char](45) NULL,
	[COMPOSICAO] [char](254) NULL,
	[QTD_EMBALAGEM] [numeric](3, 0) NULL,
	[PF_20] [numeric](12, 2) NULL,
	[PMC_20] [numeric](12, 2) NULL,
	[PF_18] [numeric](12, 2) NULL,
	[PMC_18] [numeric](12, 2) NULL,
	[PF_17] [numeric](12, 2) NULL,
	[PMC_17] [numeric](12, 2) NULL,
	[PF_17_5] [numeric](12, 2) NULL,
	[PMC_17_5] [numeric](12, 2) NULL,
	[PF_12] [numeric](12, 2) NULL,
	[PMC_12] [numeric](12, 2) NULL,
	[PF_0] [numeric](12, 2) NULL,
	[PMC_0] [numeric](12, 2) NULL,
	[PERCENTUAL_IPI] [numeric](6, 2) NULL,
	[DATA_VIGENCIA] [datetime] NULL,
	[NOVO] [bit] NULL,
	[VARIACAO_PRECO] [char](1) NULL,
	[PF_17_ALC] [numeric](12, 2) NULL,
	[PMC_17_ALC] [numeric](12, 2) NULL,
	[PF_17_5_ALC] [numeric](12, 2) NULL,
	[PMC_17_5_ALC] [numeric](12, 2) NULL,
	[PF_18_ALC] [numeric](12, 2) NULL,
	[PMC_18_ALC] [numeric](12, 2) NULL,
	[NCM] [char](10) NULL,
	[ID_TARJA] [char](2) NULL,
	[CLASSE_TERAPEUTICA] [char](100) NULL,
	[PORTARIA_344_98] [char](2) NULL,
	[PRODUTO_REFERENCIA] [char](50) NULL,
	[CAS] [char](90) NULL,
	[DCB] [char](240) NULL,
	[ATC_CODE] [char](7) NULL,
	[CAP] [bit] NULL,
	[CONFAZ_87] [bit] NULL,
	[TISS_TUSS] [char](8) NULL,
	[CEST] [char](9) NULL,
	[ID_FABRICANTE] [char](9) NULL,
	[NOME_FABRICANTE] [char](30) NULL,
	[ID_LCCT] [char](1) NULL,
	[DESCRICAO_LISTA] [char](15) NULL,
	[ID_REGIME_PRECO] [char](1) NULL,
	[DESCRICAO_REGIME_PRECO] [char](30) NULL,
	[ID_TIPO_PRODUTO] [char](1) NULL,
	[DESCRICAO_TIPO_PRODUTO] [char](20) NULL,
	[SR_RECNO] [numeric](15, 0) IDENTITY(1,1) NOT NULL,
	[SR_DELETED] [char](1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALQARQ]    Script Date: 10/07/2022 14:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALQARQ](
	[CODALQ] [char](2) NULL,
	[DEPTRIB] [char](3) NULL,
	[DESCDEP] [char](10) NULL,
	[TAXA] [numeric](5, 2) NULL,
	[CIT] [char](3) NULL,
	[TIPO] [char](1) NULL,
	[CONTAC] [char](11) NULL,
	[VENDCOFI] [char](4) NULL,
	[VENDCOFE] [char](4) NULL,
	[TRANCOFI] [char](4) NULL,
	[TRANCOFE] [char](4) NULL,
	[DEVOCOFI] [char](4) NULL,
	[DEVOCOFE] [char](4) NULL,
	[LANCCOFI] [char](4) NULL,
	[LANCCOFE] [char](4) NULL,
	[DVCLCOFI] [char](4) NULL,
	[DVCLCOFE] [char](4) NULL,
	[PERDCOFI] [char](4) NULL,
	[PERDCOFE] [char](4) NULL,
	[VECUCOFI] [char](4) NULL,
	[VECUCOFE] [char](4) NULL,
	[IVENDA] [char](1) NULL,
	[ITRANSF] [char](1) NULL,
	[IDEVOL] [char](1) NULL,
	[ICOMPRA] [char](1) NULL,
	[EVENDA] [char](1) NULL,
	[ETRANSF] [char](1) NULL,
	[EDEVOL] [char](1) NULL,
	[ECOMPRA] [char](1) NULL,
	[DEVCLI] [char](1) NULL,
	[ALIQICMS] [char](10) NULL,
	[REDUINTE] [numeric](7, 4) NULL,
	[REDUEXTE] [numeric](7, 4) NULL,
	[CESTABAS] [char](1) NULL,
	[TAXAFCP] [numeric](5, 2) NULL,
	[SR_RECNO] [numeric](15, 0) IDENTITY(1,1) NOT NULL,
	[SR_DELETED] [char](1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALQENT]    Script Date: 10/07/2022 14:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALQENT](
	[CODINOTA] [char](10) NULL,
	[ENTRSAID] [char](1) NULL,
	[TIPONOTA] [char](1) NULL,
	[FORMREGI] [char](1) NULL,
	[ELETEMIT] [numeric](1, 0) NULL,
	[SITUCANC] [char](1) NULL,
	[CODIDEST] [char](4) NULL,
	[FORN] [char](4) NULL,
	[FILIAL] [char](2) NULL,
	[NDC] [char](10) NULL,
	[RESP] [char](4) NULL,
	[JIU] [char](1) NULL,
	[DTREG] [datetime] NULL,
	[NATUOPER] [char](45) NULL,
	[NFATURA] [char](10) NULL,
	[DENTRE] [datetime] NULL,
	[DEMITE] [datetime] NULL,
	[CFOPNOTA] [char](16) NULL,
	[MODENOTA] [char](2) NULL,
	[SERISUBS] [char](5) NULL,
	[CNPJNOTA] [char](14) NULL,
	[INSCNOTA] [char](14) NULL,
	[ESTANOTA] [char](2) NULL,
	[BICMRET] [numeric](11, 2) NULL,
	[CICMS] [numeric](11, 2) NULL,
	[BICMCRE] [numeric](11, 2) NULL,
	[RICMS] [numeric](11, 2) NULL,
	[VALOFRET] [numeric](11, 2) NULL,
	[VALOSEGU] [numeric](11, 2) NULL,
	[DESPESAS] [numeric](11, 2) NULL,
	[VALOIPII] [numeric](11, 2) NULL,
	[DESCNOTA] [numeric](11, 2) NULL,
	[DESCFINA] [numeric](11, 2) NULL,
	[DESCITEN] [numeric](11, 2) NULL,
	[REPAICMS] [numeric](11, 2) NULL,
	[TOTALPROD] [numeric](11, 2) NULL,
	[TOTALNOT] [numeric](11, 2) NULL,
	[DESCTRAN] [char](30) NULL,
	[ENDETRAN] [char](30) NULL,
	[FRETCONT] [char](1) NULL,
	[OBSER] [char](60) NULL,
	[OBSER2] [char](60) NULL,
	[OBSER3] [char](60) NULL,
	[OBSER4] [char](60) NULL,
	[OBSER5] [char](60) NULL,
	[OBSER6] [char](60) NULL,
	[OBSER7] [char](60) NULL,
	[OBSER8] [char](60) NULL,
	[OBSER9] [char](60) NULL,
	[REGICONF] [char](1) NULL,
	[NOTACONF] [bit] NULL,
	[CODIALTE] [char](2) NULL,
	[ALIQICMS] [char](16) NULL,
	[CNPJFORN] [char](14) NULL,
	[INSCFORN] [char](14) NULL,
	[ESTAFORN] [char](2) NULL,
	[FORMCUST] [numeric](2, 0) NULL,
	[STATNOTA] [numeric](2, 0) NULL,
	[IDENNFE] [char](50) NULL,
	[VALOSIMP] [numeric](11, 2) NULL,
	[NDCNOTA] [char](10) NULL,
	[NUMEPROT] [char](20) NULL,
	[DIVECONF] [numeric](1, 0) NULL,
	[TOTADESO] [numeric](11, 2) NULL,
	[VFCP] [numeric](11, 2) NULL,
	[VFCPST] [numeric](11, 2) NULL,
	[VFCPSTRET] [numeric](11, 2) NULL,
	[SR_RECNO] [numeric](15, 0) IDENTITY(1,1) NOT NULL,
	[SR_DELETED] [char](1) NOT NULL,
	[PDV] [numeric](4, 0) NULL,
	[TIPODESO] [numeric](1, 0) NULL,
	[BLOQSPED] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALQUI]    Script Date: 10/07/2022 14:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALQUI](
	[CCODIGO] [char](7) NULL,
	[CDESC] [char](40) NULL,
	[CCODLAB] [char](4) NULL,
	[NLAB] [char](20) NULL,
	[CCODDEP] [char](3) NULL,
	[NDEP] [char](10) NULL,
	[CLASCODI] [char](3) NULL,
	[CLASSE] [char](15) NULL,
	[CFORPRE] [char](4) NULL,
	[COMIPROD] [char](10) NULL,
	[ICMCRED] [numeric](5, 2) NULL,
	[DESCF01] [numeric](5, 2) NULL,
	[DESCF02] [numeric](5, 2) NULL,
	[DESCF03] [numeric](5, 2) NULL,
	[CODTR] [char](1) NULL,
	[CUNIDA] [char](2) NULL,
	[CHOSPN] [numeric](4, 0) NULL,
	[CCATEGO] [char](1) NULL,
	[NLOCEST] [char](7) NULL,
	[TRANSENT] [char](1) NULL,
	[MARGEM] [numeric](7, 3) NULL,
	[MARGRET] [numeric](7, 3) NULL,
	[REDBASE] [numeric](7, 3) NULL,
	[SERVMERD] [char](1) NULL,
	[CALQICM] [numeric](2, 0) NULL,
	[MARCACON] [char](1) NULL,
	[PRODFAC] [char](1) NULL,
	[CALTPRE] [datetime] NULL,
	[CCURVAVA] [char](200) NULL,
	[CCURVAVO] [char](200) NULL,
	[ATIVOCOM] [char](200) NULL,
	[ATIVOVEN] [char](200) NULL,
	[DESCP] [numeric](5, 2) NULL,
	[DESCM] [numeric](5, 2) NULL,
	[CCOMISSAO] [numeric](5, 2) NULL,
	[CCADAST] [datetime] NULL,
	[CCUSTO] [numeric](11, 2) NULL,
	[CCUSTO1] [numeric](11, 2) NULL,
	[CCUSTO2] [numeric](11, 2) NULL,
	[CCUSTOU] [numeric](11, 2) NULL,
	[CCUSTOUL] [numeric](11, 2) NULL,
	[CVENDA] [numeric](11, 2) NULL,
	[CVENDA1] [numeric](11, 2) NULL,
	[CVENDA2] [numeric](11, 2) NULL,
	[CDEPRO1] [numeric](5, 2) NULL,
	[CDEPRO2] [numeric](5, 2) NULL,
	[CCOMPRA] [datetime] NULL,
	[CCOMPRAU] [datetime] NULL,
	[CULTVEN] [datetime] NULL,
	[CFORNEC1] [char](4) NULL,
	[CFORNEC2] [char](4) NULL,
	[CFORNEC3] [char](4) NULL,
	[CFORNEC4] [char](4) NULL,
	[CFORNEC5] [char](4) NULL,
	[ATBAL] [numeric](5, 0) NULL,
	[CALMOXA] [numeric](6, 0) NULL,
	[CADEQUER] [numeric](6, 0) NULL,
	[CMAXFILAL] [numeric](5, 0) NULL,
	[CMINFILAL] [numeric](5, 0) NULL,
	[CCIPLIB] [char](1) NULL,
	[CIPI] [numeric](5, 2) NULL,
	[NUMFAT] [char](10) NULL,
	[EAN13] [char](13) NULL,
	[SEGUEAN13] [char](13) NULL,
	[CCADINI] [datetime] NULL,
	[BLOQ] [char](1) NULL,
	[CPISCONF] [numeric](5, 2) NULL,
	[CCUSTMED] [numeric](11, 2) NULL,
	[CUSTMEDAL] [numeric](11, 2) NULL,
	[TPPIS] [char](1) NULL,
	[CEANIND] [char](14) NULL,
	[QTEMBIND] [numeric](4, 0) NULL,
	[CODIPRIN] [char](5) NULL,
	[CODICLAS] [char](5) NULL,
	[PODEINDI] [char](1) NULL,
	[PRODRECU] [char](1) NULL,
	[GRUPPREC] [char](7) NULL,
	[GRUPCOMP] [char](3) NULL,
	[TIPOPROD] [char](1) NULL,
	[CODINCM] [char](8) NULL,
	[PERCFIDE] [numeric](5, 2) NULL,
	[LARGPROD] [numeric](4, 0) NULL,
	[ALTUPROD] [numeric](4, 0) NULL,
	[PROFPROD] [numeric](4, 0) NULL,
	[MARCPROD] [numeric](8, 0) NULL,
	[CODILINH] [char](4) NULL,
	[CODISEGM] [char](4) NULL,
	[CODIPAPE] [char](4) NULL,
	[CODIMARC] [char](4) NULL,
	[DATAFACE] [datetime] NULL,
	[CODIRMS] [char](13) NULL,
	[CODIRECE] [char](2) NULL,
	[MD5CADA] [char](32) NULL,
	[CSTPISENT] [char](2) NULL,
	[CSTPISSAI] [char](2) NULL,
	[CSTCOFENT] [char](2) NULL,
	[CSTCOFSAI] [char](2) NULL,
	[CODICAT] [numeric](4, 0) NULL,
	[PESO] [numeric](10, 4) NULL,
	[VOLUME] [numeric](10, 4) NULL,
	[CURVADEPO] [char](1) NULL,
	[CODICDEP] [char](4) NULL,
	[CARGTRIB] [numeric](5, 2) NULL,
	[OBSEPROD] [char](80) NULL,
	[CODICEST] [char](7) NULL,
	[FARMPOPU] [numeric](1, 0) NULL,
	[CODIGFID] [char](4) NULL,
	[INTECONT] [numeric](10, 0) NULL,
	[NACIIMPO] [char](1) NULL,
	[BLOQCONT] [char](1) NULL,
	[CFILIAL02] [numeric](6, 0) NULL,
	[CMINFIL02] [numeric](5, 0) NULL,
	[CMAXFIL02] [numeric](5, 0) NULL,
	[CUSTMED02] [numeric](11, 2) NULL,
	[CFACE02] [numeric](5, 0) NULL,
	[CFILIAL03] [numeric](6, 0) NULL,
	[CMINFIL03] [numeric](5, 0) NULL,
	[CMAXFIL03] [numeric](5, 0) NULL,
	[CUSTMED03] [numeric](11, 2) NULL,
	[CFACE03] [numeric](5, 0) NULL,
	[CFILIAL04] [numeric](6, 0) NULL,
	[CMINFIL04] [numeric](5, 0) NULL,
	[CMAXFIL04] [numeric](5, 0) NULL,
	[CUSTMED04] [numeric](11, 2) NULL,
	[CFACE04] [numeric](5, 0) NULL,
	[CFILIAL06] [numeric](6, 0) NULL,
	[CMINFIL06] [numeric](5, 0) NULL,
	[CMAXFIL06] [numeric](5, 0) NULL,
	[CUSTMED06] [numeric](11, 2) NULL,
	[CFACE06] [numeric](5, 0) NULL,
	[CFILIAL08] [numeric](6, 0) NULL,
	[CMINFIL08] [numeric](5, 0) NULL,
	[CMAXFIL08] [numeric](5, 0) NULL,
	[CUSTMED08] [numeric](11, 2) NULL,
	[CFACE08] [numeric](5, 0) NULL,
	[CFILIAL09] [numeric](6, 0) NULL,
	[CMINFIL09] [numeric](5, 0) NULL,
	[CMAXFIL09] [numeric](5, 0) NULL,
	[CUSTMED09] [numeric](11, 2) NULL,
	[CFACE09] [numeric](5, 0) NULL,
	[CFILIAL10] [numeric](6, 0) NULL,
	[CMINFIL10] [numeric](5, 0) NULL,
	[CMAXFIL10] [numeric](5, 0) NULL,
	[CUSTMED10] [numeric](11, 2) NULL,
	[CFACE10] [numeric](5, 0) NULL,
	[CFILIAL11] [numeric](6, 0) NULL,
	[CMINFIL11] [numeric](5, 0) NULL,
	[CMAXFIL11] [numeric](5, 0) NULL,
	[CUSTMED11] [numeric](11, 2) NULL,
	[CFACE11] [numeric](5, 0) NULL,
	[CFILIAL12] [numeric](6, 0) NULL,
	[CMINFIL12] [numeric](5, 0) NULL,
	[CMAXFIL12] [numeric](5, 0) NULL,
	[CUSTMED12] [numeric](11, 2) NULL,
	[CFACE12] [numeric](5, 0) NULL,
	[CFILIAL13] [numeric](6, 0) NULL,
	[CMINFIL13] [numeric](5, 0) NULL,
	[CMAXFIL13] [numeric](5, 0) NULL,
	[CUSTMED13] [numeric](11, 2) NULL,
	[CFACE13] [numeric](5, 0) NULL,
	[CFILIAL14] [numeric](6, 0) NULL,
	[CMINFIL14] [numeric](5, 0) NULL,
	[CMAXFIL14] [numeric](5, 0) NULL,
	[CUSTMED14] [numeric](11, 2) NULL,
	[CFACE14] [numeric](5, 0) NULL,
	[CFILIAL15] [numeric](6, 0) NULL,
	[CMINFIL15] [numeric](5, 0) NULL,
	[CMAXFIL15] [numeric](5, 0) NULL,
	[CUSTMED15] [numeric](11, 2) NULL,
	[CFACE15] [numeric](5, 0) NULL,
	[CFILIAL16] [numeric](6, 0) NULL,
	[CMINFIL16] [numeric](5, 0) NULL,
	[CMAXFIL16] [numeric](5, 0) NULL,
	[CUSTMED16] [numeric](11, 2) NULL,
	[CFACE16] [numeric](5, 0) NULL,
	[CFILIAL17] [numeric](6, 0) NULL,
	[CMINFIL17] [numeric](5, 0) NULL,
	[CMAXFIL17] [numeric](5, 0) NULL,
	[CUSTMED17] [numeric](11, 2) NULL,
	[CFACE17] [numeric](5, 0) NULL,
	[CFILIAL19] [numeric](6, 0) NULL,
	[CMINFIL19] [numeric](5, 0) NULL,
	[CMAXFIL19] [numeric](5, 0) NULL,
	[CUSTMED19] [numeric](11, 2) NULL,
	[CFACE19] [numeric](5, 0) NULL,
	[CFILIAL20] [numeric](6, 0) NULL,
	[CMINFIL20] [numeric](5, 0) NULL,
	[CMAXFIL20] [numeric](5, 0) NULL,
	[CUSTMED20] [numeric](11, 2) NULL,
	[CFACE20] [numeric](5, 0) NULL,
	[CFILIAL21] [numeric](6, 0) NULL,
	[CMINFIL21] [numeric](5, 0) NULL,
	[CMAXFIL21] [numeric](5, 0) NULL,
	[CUSTMED21] [numeric](11, 2) NULL,
	[CFACE21] [numeric](5, 0) NULL,
	[CFILIAL24] [numeric](6, 0) NULL,
	[CMINFIL24] [numeric](5, 0) NULL,
	[CMAXFIL24] [numeric](5, 0) NULL,
	[CUSTMED24] [numeric](11, 2) NULL,
	[CFACE24] [numeric](5, 0) NULL,
	[CFILIAL26] [numeric](6, 0) NULL,
	[CMINFIL26] [numeric](5, 0) NULL,
	[CMAXFIL26] [numeric](5, 0) NULL,
	[CUSTMED26] [numeric](11, 2) NULL,
	[CFACE26] [numeric](5, 0) NULL,
	[CFILIAL27] [numeric](6, 0) NULL,
	[CMINFIL27] [numeric](5, 0) NULL,
	[CMAXFIL27] [numeric](5, 0) NULL,
	[CUSTMED27] [numeric](11, 2) NULL,
	[CFACE27] [numeric](5, 0) NULL,
	[CFILIAL28] [numeric](6, 0) NULL,
	[CMINFIL28] [numeric](5, 0) NULL,
	[CMAXFIL28] [numeric](5, 0) NULL,
	[CUSTMED28] [numeric](11, 2) NULL,
	[CFACE28] [numeric](5, 0) NULL,
	[CFILIAL29] [numeric](6, 0) NULL,
	[CMINFIL29] [numeric](5, 0) NULL,
	[CMAXFIL29] [numeric](5, 0) NULL,
	[CUSTMED29] [numeric](11, 2) NULL,
	[CFACE29] [numeric](5, 0) NULL,
	[CFILIAL30] [numeric](6, 0) NULL,
	[CMINFIL30] [numeric](5, 0) NULL,
	[CMAXFIL30] [numeric](5, 0) NULL,
	[CUSTMED30] [numeric](11, 2) NULL,
	[CFACE30] [numeric](5, 0) NULL,
	[CFILIAL32] [numeric](6, 0) NULL,
	[CMINFIL32] [numeric](5, 0) NULL,
	[CMAXFIL32] [numeric](5, 0) NULL,
	[CUSTMED32] [numeric](11, 2) NULL,
	[CFACE32] [numeric](5, 0) NULL,
	[CFILIAL33] [numeric](6, 0) NULL,
	[CMINFIL33] [numeric](5, 0) NULL,
	[CMAXFIL33] [numeric](5, 0) NULL,
	[CUSTMED33] [numeric](11, 2) NULL,
	[CFACE33] [numeric](5, 0) NULL,
	[CFILIAL34] [numeric](6, 0) NULL,
	[CMINFIL34] [numeric](5, 0) NULL,
	[CMAXFIL34] [numeric](5, 0) NULL,
	[CUSTMED34] [numeric](11, 2) NULL,
	[CFACE34] [numeric](5, 0) NULL,
	[CFILIAL35] [numeric](6, 0) NULL,
	[CMINFIL35] [numeric](5, 0) NULL,
	[CMAXFIL35] [numeric](5, 0) NULL,
	[CUSTMED35] [numeric](11, 2) NULL,
	[CFACE35] [numeric](5, 0) NULL,
	[CFILIAL36] [numeric](6, 0) NULL,
	[CMINFIL36] [numeric](5, 0) NULL,
	[CMAXFIL36] [numeric](5, 0) NULL,
	[CUSTMED36] [numeric](11, 2) NULL,
	[CFACE36] [numeric](5, 0) NULL,
	[CFILIAL37] [numeric](6, 0) NULL,
	[CMINFIL37] [numeric](5, 0) NULL,
	[CMAXFIL37] [numeric](5, 0) NULL,
	[CUSTMED37] [numeric](11, 2) NULL,
	[CFACE37] [numeric](5, 0) NULL,
	[CFILIAL38] [numeric](6, 0) NULL,
	[CMINFIL38] [numeric](5, 0) NULL,
	[CMAXFIL38] [numeric](5, 0) NULL,
	[CUSTMED38] [numeric](11, 2) NULL,
	[CFACE38] [numeric](5, 0) NULL,
	[CFILIAL39] [numeric](6, 0) NULL,
	[CMINFIL39] [numeric](5, 0) NULL,
	[CMAXFIL39] [numeric](5, 0) NULL,
	[CUSTMED39] [numeric](11, 2) NULL,
	[CFACE39] [numeric](5, 0) NULL,
	[CFILIAL42] [numeric](6, 0) NULL,
	[CMINFIL42] [numeric](5, 0) NULL,
	[CMAXFIL42] [numeric](5, 0) NULL,
	[CUSTMED42] [numeric](11, 2) NULL,
	[CFACE42] [numeric](5, 0) NULL,
	[CFILIAL43] [numeric](6, 0) NULL,
	[CMINFIL43] [numeric](5, 0) NULL,
	[CMAXFIL43] [numeric](5, 0) NULL,
	[CUSTMED43] [numeric](11, 2) NULL,
	[CFACE43] [numeric](5, 0) NULL,
	[CFILIAL44] [numeric](6, 0) NULL,
	[CMINFIL44] [numeric](5, 0) NULL,
	[CMAXFIL44] [numeric](5, 0) NULL,
	[CUSTMED44] [numeric](11, 2) NULL,
	[CFACE44] [numeric](5, 0) NULL,
	[CFILIAL45] [numeric](6, 0) NULL,
	[CMINFIL45] [numeric](5, 0) NULL,
	[CMAXFIL45] [numeric](5, 0) NULL,
	[CUSTMED45] [numeric](11, 2) NULL,
	[CFACE45] [numeric](5, 0) NULL,
	[CFILIAL46] [numeric](6, 0) NULL,
	[CMINFIL46] [numeric](5, 0) NULL,
	[CMAXFIL46] [numeric](5, 0) NULL,
	[CUSTMED46] [numeric](11, 2) NULL,
	[CFACE46] [numeric](5, 0) NULL,
	[CFILIAL47] [numeric](6, 0) NULL,
	[CMINFIL47] [numeric](5, 0) NULL,
	[CMAXFIL47] [numeric](5, 0) NULL,
	[CUSTMED47] [numeric](11, 2) NULL,
	[CFACE47] [numeric](5, 0) NULL,
	[CFILIAL48] [numeric](6, 0) NULL,
	[CMINFIL48] [numeric](5, 0) NULL,
	[CMAXFIL48] [numeric](5, 0) NULL,
	[CUSTMED48] [numeric](11, 2) NULL,
	[CFACE48] [numeric](5, 0) NULL,
	[CFILIAL51] [numeric](6, 0) NULL,
	[CMINFIL51] [numeric](5, 0) NULL,
	[CMAXFIL51] [numeric](5, 0) NULL,
	[CUSTMED51] [numeric](11, 2) NULL,
	[CFACE51] [numeric](5, 0) NULL,
	[CFILIAL52] [numeric](6, 0) NULL,
	[CMINFIL52] [numeric](5, 0) NULL,
	[CMAXFIL52] [numeric](5, 0) NULL,
	[CUSTMED52] [numeric](11, 2) NULL,
	[CFACE52] [numeric](5, 0) NULL,
	[CFILIAL53] [numeric](6, 0) NULL,
	[CMINFIL53] [numeric](5, 0) NULL,
	[CMAXFIL53] [numeric](5, 0) NULL,
	[CUSTMED53] [numeric](11, 2) NULL,
	[CFACE53] [numeric](5, 0) NULL,
	[CFILIAL54] [numeric](6, 0) NULL,
	[CMINFIL54] [numeric](5, 0) NULL,
	[CMAXFIL54] [numeric](5, 0) NULL,
	[CUSTMED54] [numeric](11, 2) NULL,
	[CFACE54] [numeric](5, 0) NULL,
	[CFILIAL57] [numeric](6, 0) NULL,
	[CMINFIL57] [numeric](5, 0) NULL,
	[CMAXFIL57] [numeric](5, 0) NULL,
	[CUSTMED57] [numeric](11, 2) NULL,
	[CFACE57] [numeric](5, 0) NULL,
	[CFILIAL58] [numeric](6, 0) NULL,
	[CMINFIL58] [numeric](5, 0) NULL,
	[CMAXFIL58] [numeric](5, 0) NULL,
	[CUSTMED58] [numeric](11, 2) NULL,
	[CFACE58] [numeric](5, 0) NULL,
	[CFILIAL59] [numeric](6, 0) NULL,
	[CMINFIL59] [numeric](5, 0) NULL,
	[CMAXFIL59] [numeric](5, 0) NULL,
	[CUSTMED59] [numeric](11, 2) NULL,
	[CFACE59] [numeric](5, 0) NULL,
	[CFILIAL60] [numeric](6, 0) NULL,
	[CMINFIL60] [numeric](5, 0) NULL,
	[CMAXFIL60] [numeric](5, 0) NULL,
	[CUSTMED60] [numeric](11, 2) NULL,
	[CFACE60] [numeric](5, 0) NULL,
	[CFILIAL61] [numeric](6, 0) NULL,
	[CMINFIL61] [numeric](5, 0) NULL,
	[CMAXFIL61] [numeric](5, 0) NULL,
	[CUSTMED61] [numeric](11, 2) NULL,
	[CFACE61] [numeric](5, 0) NULL,
	[CFILIAL62] [numeric](6, 0) NULL,
	[CMINFIL62] [numeric](5, 0) NULL,
	[CMAXFIL62] [numeric](5, 0) NULL,
	[CUSTMED62] [numeric](11, 2) NULL,
	[CFACE62] [numeric](5, 0) NULL,
	[CFILIAL63] [numeric](6, 0) NULL,
	[CMINFIL63] [numeric](5, 0) NULL,
	[CMAXFIL63] [numeric](5, 0) NULL,
	[CUSTMED63] [numeric](11, 2) NULL,
	[CFACE63] [numeric](5, 0) NULL,
	[CFILIAL64] [numeric](6, 0) NULL,
	[CMINFIL64] [numeric](5, 0) NULL,
	[CMAXFIL64] [numeric](5, 0) NULL,
	[CUSTMED64] [numeric](11, 2) NULL,
	[CFACE64] [numeric](5, 0) NULL,
	[CFILIAL65] [numeric](6, 0) NULL,
	[CMINFIL65] [numeric](5, 0) NULL,
	[CMAXFIL65] [numeric](5, 0) NULL,
	[CUSTMED65] [numeric](11, 2) NULL,
	[CFACE65] [numeric](5, 0) NULL,
	[CFILIAL66] [numeric](6, 0) NULL,
	[CMINFIL66] [numeric](5, 0) NULL,
	[CMAXFIL66] [numeric](5, 0) NULL,
	[CUSTMED66] [numeric](11, 2) NULL,
	[CFACE66] [numeric](5, 0) NULL,
	[CFILIAL68] [numeric](6, 0) NULL,
	[CMINFIL68] [numeric](5, 0) NULL,
	[CMAXFIL68] [numeric](5, 0) NULL,
	[CUSTMED68] [numeric](11, 2) NULL,
	[CFACE68] [numeric](5, 0) NULL,
	[CFILIAL71] [numeric](6, 0) NULL,
	[CMINFIL71] [numeric](5, 0) NULL,
	[CMAXFIL71] [numeric](5, 0) NULL,
	[CUSTMED71] [numeric](11, 2) NULL,
	[CFACE71] [numeric](5, 0) NULL,
	[CFILIAL72] [numeric](6, 0) NULL,
	[CMINFIL72] [numeric](5, 0) NULL,
	[CMAXFIL72] [numeric](5, 0) NULL,
	[CUSTMED72] [numeric](11, 2) NULL,
	[CFACE72] [numeric](5, 0) NULL,
	[CFILIAL73] [numeric](6, 0) NULL,
	[CMINFIL73] [numeric](5, 0) NULL,
	[CMAXFIL73] [numeric](5, 0) NULL,
	[CUSTMED73] [numeric](11, 2) NULL,
	[CFACE73] [numeric](5, 0) NULL,
	[CFILIAL74] [numeric](6, 0) NULL,
	[CMINFIL74] [numeric](5, 0) NULL,
	[CMAXFIL74] [numeric](5, 0) NULL,
	[CUSTMED74] [numeric](11, 2) NULL,
	[CFACE74] [numeric](5, 0) NULL,
	[CFILIAL75] [numeric](6, 0) NULL,
	[CMINFIL75] [numeric](5, 0) NULL,
	[CMAXFIL75] [numeric](5, 0) NULL,
	[CUSTMED75] [numeric](11, 2) NULL,
	[CFACE75] [numeric](5, 0) NULL,
	[CFILIAL76] [numeric](6, 0) NULL,
	[CMINFIL76] [numeric](5, 0) NULL,
	[CMAXFIL76] [numeric](5, 0) NULL,
	[CUSTMED76] [numeric](11, 2) NULL,
	[CFACE76] [numeric](5, 0) NULL,
	[CFILIAL77] [numeric](6, 0) NULL,
	[CMINFIL77] [numeric](5, 0) NULL,
	[CMAXFIL77] [numeric](5, 0) NULL,
	[CUSTMED77] [numeric](11, 2) NULL,
	[CFACE77] [numeric](5, 0) NULL,
	[CFILIAL79] [numeric](6, 0) NULL,
	[CMINFIL79] [numeric](5, 0) NULL,
	[CMAXFIL79] [numeric](5, 0) NULL,
	[CUSTMED79] [numeric](11, 2) NULL,
	[CFACE79] [numeric](5, 0) NULL,
	[CFILIAL82] [numeric](6, 0) NULL,
	[CMINFIL82] [numeric](5, 0) NULL,
	[CMAXFIL82] [numeric](5, 0) NULL,
	[CUSTMED82] [numeric](11, 2) NULL,
	[CFACE82] [numeric](5, 0) NULL,
	[CFILIAL83] [numeric](6, 0) NULL,
	[CMINFIL83] [numeric](5, 0) NULL,
	[CMAXFIL83] [numeric](5, 0) NULL,
	[CUSTMED83] [numeric](11, 2) NULL,
	[CFACE83] [numeric](5, 0) NULL,
	[CFILIAL85] [numeric](6, 0) NULL,
	[CMINFIL85] [numeric](5, 0) NULL,
	[CMAXFIL85] [numeric](5, 0) NULL,
	[CUSTMED85] [numeric](11, 2) NULL,
	[CFACE85] [numeric](5, 0) NULL,
	[CFILIAL87] [numeric](6, 0) NULL,
	[CMINFIL87] [numeric](5, 0) NULL,
	[CMAXFIL87] [numeric](5, 0) NULL,
	[CUSTMED87] [numeric](11, 2) NULL,
	[CFACE87] [numeric](5, 0) NULL,
	[CFILIAL01] [numeric](6, 0) NULL,
	[CMINFIL01] [numeric](5, 0) NULL,
	[CMAXFIL01] [numeric](5, 0) NULL,
	[CUSTMED01] [numeric](11, 2) NULL,
	[CFACE01] [numeric](5, 0) NULL,
	[ZONA] [char](2) NULL,
	[CFILIAL23] [numeric](6, 0) NULL,
	[CUSTMED23] [numeric](11, 2) NULL,
	[CMAXFIL23] [numeric](5, 0) NULL,
	[CMINFIL23] [numeric](5, 0) NULL,
	[CFACE23] [numeric](5, 0) NULL,
	[DIC1] [char](10) NULL,
	[DIC2] [char](10) NULL,
	[DIC3] [char](10) NULL,
	[DIC4] [char](10) NULL,
	[DIC5] [char](10) NULL,
	[CBENEF] [char](10) NULL,
	[SINCSITE] [numeric](1, 0) NULL,
	[SINCESTO] [numeric](1, 0) NULL,
	[SINCPREC] [numeric](1, 0) NULL,
	[SR_RECNO] [numeric](15, 0) IDENTITY(1,1) NOT NULL,
	[SR_DELETED] [char](1) NOT NULL,
	[DESCMG] [numeric](5, 2) NULL,
	[BLOQGTIN] [char](1) NULL,
	[DESCLONG] [char](120) NULL,
	[DSATWEB] [char](1) NULL,
	[DSATCORR] [char](1) NULL,
	[MAXPROD] [numeric](5, 0) NULL,
	[ESTOVIRT] [numeric](5, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AREAS]    Script Date: 10/07/2022 14:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AREAS](
	[CODIGO] [char](3) NULL,
	[NOME] [char](10) NULL,
	[MARGEM] [numeric](6, 2) NULL,
	[METACOMP] [numeric](6, 2) NULL,
	[SR_RECNO] [numeric](15, 0) IDENTITY(1,1) NOT NULL,
	[SR_DELETED] [char](1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ARQLISTA]    Script Date: 10/07/2022 14:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARQLISTA](
	[CODLIS] [char](3) NULL,
	[CODIGO] [char](7) NULL,
	[PRECO] [numeric](11, 2) NULL,
	[DESCONTO] [numeric](5, 2) NULL,
	[DESCMAX] [numeric](5, 2) NULL,
	[INCIDENC] [char](1) NULL,
	[DTALT] [char](4) NULL,
	[ALTEPREC] [datetime] NULL,
	[DATAINIC] [datetime] NULL,
	[DATAFINA] [datetime] NULL,
	[MARGSUBS] [numeric](7, 3) NULL,
	[ICMSPROD] [numeric](5, 2) NULL,
	[PRECCUST] [numeric](12, 2) NULL,
	[CODIALIQ] [numeric](2, 0) NULL,
	[SINCSITE] [numeric](1, 0) NULL,
	[SR_RECNO] [numeric](15, 0) IDENTITY(1,1) NOT NULL,
	[SR_DELETED] [char](1) NOT NULL,
	[DESCGER] [numeric](5, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLASSES]    Script Date: 10/07/2022 14:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASSES](
	[CLASCODI] [char](3) NULL,
	[CLASDESC] [char](15) NULL,
	[SR_RECNO] [numeric](15, 0) IDENTITY(1,1) NOT NULL,
	[SR_DELETED] [char](1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLASTERA]    Script Date: 10/07/2022 14:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASTERA](
	[CODICLAS] [char](5) NULL,
	[DESCCLAS] [char](40) NULL,
	[DATAALTE] [datetime] NULL,
	[DESCPADR] [numeric](5, 2) NULL,
	[DESCMAXI] [numeric](5, 2) NULL,
	[SR_RECNO] [numeric](15, 0) IDENTITY(1,1) NOT NULL,
	[SR_DELETED] [char](1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTCUP]    Script Date: 10/07/2022 14:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTCUP](
	[TERMINAL] [char](2) NULL,
	[CUPOM] [numeric](6, 0) NULL,
	[DIAATUAL] [datetime] NULL,
	[SR_RECNO] [numeric](15, 0) IDENTITY(1,1) NOT NULL,
	[SR_DELETED] [char](1) NOT NULL,
	[OPERBLOQ] [char](4) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTDIA]    Script Date: 10/07/2022 14:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTDIA](
	[DATAMV] [datetime] NULL,
	[TERMINAL] [char](2) NULL,
	[HORAIN] [char](5) NULL,
	[HORAFE] [char](5) NULL,
	[COOINIC] [numeric](10, 0) NULL,
	[COOFINA] [numeric](10, 0) NULL,
	[SR_RECNO] [numeric](15, 0) IDENTITY(1,1) NOT NULL,
	[SR_DELETED] [char](1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTROLE]    Script Date: 10/07/2022 14:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTROLE](
	[HOJEDATA] [datetime] NULL,
	[ULTICTRL] [char](10) NULL,
	[ULTEXP] [datetime] NULL,
	[TURNO] [char](1) NULL,
	[OPERADOR] [char](4) NULL,
	[ULTNOT] [numeric](6, 0) NULL,
	[ULTDIA] [datetime] NULL,
	[ULTSEM] [datetime] NULL,
	[ULTMES] [datetime] NULL,
	[PER01] [datetime] NULL,
	[PER02] [datetime] NULL,
	[PER03] [datetime] NULL,
	[PER04] [datetime] NULL,
	[PER05] [datetime] NULL,
	[PER06] [datetime] NULL,
	[PER07] [datetime] NULL,
	[PER08] [datetime] NULL,
	[PER09] [datetime] NULL,
	[PER10] [datetime] NULL,
	[PER11] [datetime] NULL,
	[PER12] [datetime] NULL,
	[PER13] [datetime] NULL,
	[PREVEND] [numeric](10, 0) NULL,
	[OPERANTER] [char](4) NULL,
	[FUNDCAIX] [numeric](11, 2) NULL,
	[NUMENOTA] [numeric](6, 0) NULL,
	[NUMEDAV] [numeric](10, 0) NULL,
	[SR_RECNO] [numeric](15, 0) IDENTITY(1,1) NOT NULL,
	[SR_DELETED] [char](1) NOT NULL,
	[AMBINFCE] [char](1) NULL,
	[HORACONT] [char](25) NULL,
	[JUSTCONT] [char](100) NULL,
	[MODOCONT] [char](1) NULL,
	[NUMENFCE] [numeric](6, 0) NULL,
	[SERINFCE] [char](3) NULL,
	[ULTIPEND] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CRM]    Script Date: 10/07/2022 14:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM](
	[CRM] [char](15) NULL,
	[TIPO] [char](1) NULL,
	[NOME] [char](40) NULL,
	[ESPEC] [char](20) NULL,
	[ENDERECO] [char](40) NULL,
	[BAIRRO] [char](20) NULL,
	[CIDADE] [char](20) NULL,
	[UF] [char](2) NULL,
	[CEP] [char](9) NULL,
	[SR_RECNO] [numeric](15, 0) IDENTITY(1,1) NOT NULL,
	[SR_DELETED] [char](1) NOT NULL,
	[SINCSITE] [numeric](1, 0) NULL,
	[STATTERM] [numeric](1, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTS]    Script Date: 10/07/2022 14:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTS](
	[CODIGO] [char](3) NULL,
	[NOME] [char](10) NULL,
	[COMISSAO] [numeric](5, 2) NULL,
	[CODARE] [char](3) NULL,
	[CODCAT] [char](3) NULL,
	[DESCCON] [numeric](5, 2) NULL,
	[MARGEM] [numeric](6, 2) NULL,
	[IMPETI] [char](1) NULL,
	[USATAXA] [char](1) NULL,
	[USAIND] [char](1) NULL,
	[CADCRM] [char](1) NULL,
	[COMEXTRA] [numeric](5, 2) NULL,
	[LIMEDESC] [numeric](5, 2) NULL,
	[REDUCOMI] [numeric](5, 2) NULL,
	[SGRUP] [char](15) NULL,
	[COMISPERF] [numeric](5, 2) NULL,
	[DESCGERE] [numeric](5, 2) NULL,
	[BUSCLOTE] [char](1) NULL,
	[NOMECOMP] [char](40) NULL,
	[METACOMP] [numeric](6, 2) NULL,
	[MAXIDIAS] [numeric](3, 0) NULL,
	[MARGMINI] [numeric](6, 2) NULL,
	[MARGMAXI] [numeric](6, 2) NULL,
	[SR_RECNO] [numeric](15, 0) IDENTITY(1,1) NOT NULL,
	[SR_DELETED] [char](1) NOT NULL,
	[SINCSITE] [numeric](1, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEVOL]    Script Date: 10/07/2022 14:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEVOL](
	[DATA] [datetime] NULL,
	[TIPO] [char](1) NULL,
	[CODIGO] [char](7) NULL,
	[QT] [numeric](5, 0) NULL,
	[PCUSTO] [numeric](11, 2) NULL,
	[PVENDA] [numeric](11, 2) NULL,
	[VD] [char](4) NULL,
	[LOCAL] [char](2) NULL,
	[NDC] [char](10) NULL,
	[SR_RECNO] [numeric](15, 0) IDENTITY(1,1) NOT NULL,
	[SR_DELETED] [char](1) NOT NULL,
	[PDV] [numeric](4, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FILIAL]    Script Date: 10/07/2022 14:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FILIAL](
	[FILIAL] [char](2) NULL,
	[ATIVA] [char](1) NULL,
	[ESTBAL] [bit] NULL,
	[DATABAL] [datetime] NULL,
	[TPFAT] [char](1) NULL,
	[HORA] [char](5) NULL,
	[OPERBAL] [char](3) NULL,
	[TIPO] [char](1) NULL,
	[TIPOTAMA] [char](1) NULL,
	[NCONT] [char](13) NULL,
	[CODCLI] [char](4) NULL,
	[CODIGO] [char](5) NULL,
	[NOMEFANT] [char](40) NULL,
	[RSOCIAL] [char](40) NULL,
	[ENDERECO] [char](40) NULL,
	[NUMEENDE] [char](5) NULL,
	[COMPENDE] [char](40) NULL,
	[BAIRRO] [char](20) NULL,
	[CIDADE] [char](30) NULL,
	[ESTADO] [char](2) NULL,
	[CEP] [char](9) NULL,
	[NUMETELE] [char](11) NULL,
	[NUMEFAXI] [char](11) NULL,
	[RESPFILI] [char](40) NULL,
	[CGC] [char](18) NULL,
	[INSC] [char](18) NULL,
	[PRIOR] [numeric](3, 0) NULL,
	[INDRAT] [numeric](7, 3) NULL,
	[TAXAEST] [numeric](5, 2) NULL,
	[PREFAT] [numeric](2, 0) NULL,
	[DESFIN] [char](1) NULL,
	[DESEST] [char](1) NULL,
	[DEP01] [char](5) NULL,
	[DEP02] [char](5) NULL,
	[DEP03] [char](5) NULL,
	[DEP04] [char](5) NULL,
	[DEP05] [char](5) NULL,
	[DEP06] [char](5) NULL,
	[DEP07] [char](5) NULL,
	[DEP08] [char](5) NULL,
	[DEP09] [char](5) NULL,
	[DEP10] [char](5) NULL,
	[DEP11] [char](5) NULL,
	[DEP12] [char](5) NULL,
	[DEP13] [char](5) NULL,
	[DEP14] [char](5) NULL,
	[DEP15] [char](5) NULL,
	[DEP16] [char](5) NULL,
	[DESCN01] [char](1) NULL,
	[DESCN02] [char](1) NULL,
	[DESCN03] [char](1) NULL,
	[DESCN04] [char](1) NULL,
	[DESCN05] [char](1) NULL,
	[DESCN06] [char](1) NULL,
	[DESCN07] [char](1) NULL,
	[DESCN08] [char](1) NULL,
	[DESCN09] [char](1) NULL,
	[DESCN10] [char](1) NULL,
	[DESCN11] [char](1) NULL,
	[DESCN12] [char](1) NULL,
	[DESCN13] [char](1) NULL,
	[DESCN14] [char](1) NULL,
	[DESCN15] [char](1) NULL,
	[DESCN16] [char](1) NULL,
	[CODLIS] [numeric](3, 0) NULL,
	[CREDICM] [numeric](5, 2) NULL,
	[CONTABIL] [char](13) NULL,
	[METAVEND] [numeric](11, 2) NULL,
	[NUMENOTA] [numeric](6, 0) NULL,
	[LAYONOTA] [numeric](2, 0) NULL,
	[CODIPOLO] [numeric](3, 0) NULL,
	[CODIFIDE] [numeric](6, 0) NULL,
	[STRILIST] [char](100) NULL,
	[CODIMUNI] [char](10) NULL,
	[GRUPICMS] [char](3) NULL,
	[ROTA] [char](10) NULL,
	[SEQUROTA] [char](10) NULL,
	[GRUPLOJA] [numeric](3, 0) NULL,
	[SERICERT] [char](40) NULL,
	[ESTAAUTO] [char](2) NULL,
	[FUSOHORA] [char](4) NULL,
	[DATARECA] [datetime] NULL,
	[TIPORECA] [numeric](1, 0) NULL,
	[INSCMUNI] [char](18) NULL,
	[CNAEFISC] [char](7) NULL,
	[REGITRIB] [char](1) NULL,
	[INSCSUBS] [char](200) NULL,
	[CODIPOLI] [numeric](4, 0) NULL,
	[CALTERDAT] [numeric](5, 0) NULL,
	[PERCREDU] [numeric](5, 2) NULL,
	[SR_RECNO] [numeric](15, 0) IDENTITY(1,1) NOT NULL,
	[SR_DELETED] [char](1) NOT NULL,
	[STRIENTR] [char](100) NULL,
	[PDV] [numeric](4, 0) NULL,
	[METAATEN] [numeric](8, 0) NULL,
	[METATICK] [numeric](11, 2) NULL,
	[METADIAS] [numeric](2, 0) NULL,
	[CENTRCUST] [numeric](5, 0) NULL,
	[ESTOCONT] [char](20) NULL,
	[CONTDEVO] [char](20) NULL,
	[CONTICMS] [char](20) NULL,
	[CONTPIS] [char](20) NULL,
	[CONTCONF] [char](20) NULL,
	[SINCSITE] [numeric](1, 0) NULL,
	[CODICONT] [char](10) NULL,
	[DESCFILI] [char](15) NULL,
	[ULTINSU] [numeric](11, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LAB]    Script Date: 10/07/2022 14:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LAB](
	[CODIGO] [char](4) NULL,
	[NOME] [char](20) NULL,
	[FORPRIN] [char](4) NULL,
	[PRAZ01] [numeric](3, 0) NULL,
	[PRAZ02] [numeric](3, 0) NULL,
	[PRAZ03] [numeric](3, 0) NULL,
	[PRAZENT] [numeric](2, 0) NULL,
	[CUSTOP] [numeric](5, 2) NULL,
	[CUSTTR] [numeric](5, 2) NULL,
	[DESC01] [numeric](5, 2) NULL,
	[DESC02] [numeric](5, 2) NULL,
	[DESC03] [numeric](5, 2) NULL,
	[DIA01] [numeric](2, 0) NULL,
	[DIA02] [numeric](2, 0) NULL,
	[DIA03] [numeric](2, 0) NULL,
	[DIA04] [numeric](2, 0) NULL,
	[PRAZREC] [numeric](2, 0) NULL,
	[DDD_01] [bit] NULL,
	[DDD_02] [bit] NULL,
	[DDD_03] [bit] NULL,
	[DDD_04] [bit] NULL,
	[DDD_05] [bit] NULL,
	[TIPOCOMP] [numeric](1, 0) NULL,
	[SR_RECNO] [numeric](15, 0) IDENTITY(1,1) NOT NULL,
	[SR_DELETED] [char](1) NOT NULL,
	[SINCSITE] [numeric](1, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOV]    Script Date: 10/07/2022 14:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOV](
	[NDC] [char](10) NULL,
	[CODIGO] [char](7) NULL,
	[LOC] [char](2) NULL,
	[CAIXA] [char](6) NULL,
	[DATA] [datetime] NULL,
	[HORA] [char](5) NULL,
	[RESP] [char](4) NULL,
	[OPER] [char](1) NULL,
	[QT] [numeric](6, 0) NULL,
	[VALOR1] [numeric](12, 2) NULL,
	[VALOR2] [numeric](12, 2) NULL,
	[VALOR3] [numeric](12, 2) NULL,
	[VALOR4] [numeric](12, 2) NULL,
	[VALOR5] [numeric](12, 2) NULL,
	[VALOR6] [numeric](12, 2) NULL,
	[OBS1] [char](5) NULL,
	[OBS2] [char](40) NULL,
	[OBS3] [char](55) NULL,
	[REGISQT] [bit] NULL,
	[REGISTR] [bit] NULL,
	[REGISVC] [bit] NULL,
	[QTANTE] [char](8) NULL,
	[CONTROL] [bit] NULL,
	[ORDF] [char](13) NULL,
	[CONTCRM] [char](26) NULL,
	[CLIPREF] [char](28) NULL,
	[CUPOMF] [char](10) NULL,
	[DADOTRIB] [char](15) NULL,
	[LOTE] [char](15) NULL,
	[SR_RECNO] [numeric](15, 0) IDENTITY(1,1) NOT NULL,
	[SR_DELETED] [char](1) NOT NULL,
	[DADOTELE] [char](20) NULL,
	[PDV] [numeric](4, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REGISTRO]    Script Date: 10/07/2022 14:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGISTRO](
	[PORTPAD] [numeric](1, 0) NULL,
	[TIPSWE] [numeric](1, 0) NULL,
	[TIPOPRG] [char](1) NULL,
	[TIPOFIM] [char](1) NULL,
	[TIPOPREV] [numeric](1, 0) NULL,
	[TIPOTEL] [char](1) NULL,
	[DECGER] [numeric](5, 2) NULL,
	[DSOL] [char](30) NULL,
	[TIPOCOM] [numeric](1, 0) NULL,
	[DIGCAI] [char](1) NULL,
	[LIMCHEQ] [numeric](11, 2) NULL,
	[MENSCHECK] [char](75) NULL,
	[PEGDATC] [bit] NULL,
	[CONFTRAN] [bit] NULL,
	[IMPCHE] [char](1) NULL,
	[PADNOT] [numeric](1, 0) NULL,
	[FORMFIM] [char](1) NULL,
	[ARPRE] [char](1) NULL,
	[CODABAR] [bit] NULL,
	[NUMPER] [numeric](2, 0) NULL,
	[INDHOSP] [numeric](5, 2) NULL,
	[DISTR] [bit] NULL,
	[CONTACUS] [char](11) NULL,
	[CONTABIL] [char](13) NULL,
	[PRFIADO] [numeric](1, 0) NULL,
	[BAIXA] [char](2) NULL,
	[MENSA1] [char](40) NULL,
	[MENSA2] [char](40) NULL,
	[PERGAVI] [bit] NULL,
	[PERGPRA] [bit] NULL,
	[ENTRADA] [char](2) NULL,
	[IMPENTR] [char](1) NULL,
	[ATUPRE] [numeric](1, 0) NULL,
	[ATUELE] [bit] NULL,
	[USOCON] [char](1) NULL,
	[CONFBAI] [char](1) NULL,
	[TEMPDES] [numeric](3, 0) NULL,
	[FLCRED] [char](2) NULL,
	[CADCRM] [bit] NULL,
	[FILIAL] [char](2) NULL,
	[NCOPIAC] [numeric](1, 0) NULL,
	[NCOPIAF] [numeric](1, 0) NULL,
	[CALCUTR] [char](1) NULL,
	[IMPSAL] [char](1) NULL,
	[IMPJUR] [char](1) NULL,
	[JPAD] [numeric](6, 4) NULL,
	[NFILIAIS] [numeric](3, 0) NULL,
	[TERMINAL] [char](2) NULL,
	[REDE] [bit] NULL,
	[EXPFIM] [bit] NULL,
	[DELDIAS] [numeric](2, 0) NULL,
	[DESCRICAO] [char](38) NULL,
	[ENDERECO] [char](38) NULL,
	[CIDADE] [char](20) NULL,
	[ESTADO] [char](2) NULL,
	[TEL1] [char](13) NULL,
	[TEL2] [char](13) NULL,
	[CGC] [char](15) NULL,
	[INSC] [char](16) NULL,
	[RSOCIAL] [char](40) NULL,
	[NFANTA] [char](40) NULL,
	[DEPAD] [numeric](5, 2) NULL,
	[FNDC] [char](1) NULL,
	[CAB1] [char](48) NULL,
	[CAB2] [char](48) NULL,
	[PROP1] [char](60) NULL,
	[PROP2] [char](60) NULL,
	[TIPOIMP] [char](1) NULL,
	[NLIND] [numeric](2, 0) NULL,
	[TAMNOT] [numeric](2, 0) NULL,
	[DECMAX] [numeric](5, 2) NULL,
	[IMP1] [char](1) NULL,
	[IMP2] [char](1) NULL,
	[IMP3] [char](1) NULL,
	[IMP4] [char](1) NULL,
	[IMP5] [char](1) NULL,
	[NIV1] [numeric](1, 0) NULL,
	[NIV2] [numeric](1, 0) NULL,
	[NIV3] [numeric](1, 0) NULL,
	[NIV4] [numeric](1, 0) NULL,
	[NIV5] [numeric](1, 0) NULL,
	[FORMPRE1] [char](1) NULL,
	[FORMPRE2] [char](1) NULL,
	[FORMPRE3] [char](1) NULL,
	[FORMPRE4] [char](1) NULL,
	[FORMPRE5] [char](1) NULL,
	[FISCAL] [char](1) NULL,
	[DES_INFO] [bit] NULL,
	[NIVS] [char](10) NULL,
	[NIVT] [char](10) NULL,
	[PCAB1] [char](70) NULL,
	[PCAB2] [char](70) NULL,
	[PCAB3] [char](70) NULL,
	[DIASPAR] [numeric](4, 0) NULL,
	[PIS_CONF] [numeric](5, 2) NULL,
	[IRPJ] [numeric](5, 2) NULL,
	[TAXAJUR] [numeric](10, 7) NULL,
	[CONTSOC] [numeric](5, 2) NULL,
	[CUSTOP] [numeric](5, 2) NULL,
	[DECMAX1] [numeric](5, 2) NULL,
	[DECMAX2] [numeric](5, 2) NULL,
	[DECMAX3] [numeric](5, 2) NULL,
	[DECMAX31] [numeric](5, 2) NULL,
	[DECMAX4] [numeric](5, 2) NULL,
	[DECMAX5] [numeric](5, 2) NULL,
	[REGDEV] [char](3) NULL,
	[REGPAG] [char](3) NULL,
	[REGTRA] [char](3) NULL,
	[REGRET] [char](3) NULL,
	[REGSAN] [char](3) NULL,
	[RECALAUT] [char](1) NULL,
	[TPRECN] [numeric](2, 0) NULL,
	[TPRECE] [numeric](2, 0) NULL,
	[DEPFILT] [char](1) NULL,
	[MULTVEN] [numeric](1, 0) NULL,
	[AUTCHEQ] [char](1) NULL,
	[TEMGAV] [bit] NULL,
	[RETPADR] [char](1) NULL,
	[GERHOSP] [char](1) NULL,
	[RETGRP] [char](3) NULL,
	[CHEPREF] [bit] NULL,
	[PAGGRP] [char](3) NULL,
	[REGFUN] [char](3) NULL,
	[FUNGRP] [char](3) NULL,
	[DEVGRP] [char](3) NULL,
	[TRAGRP] [char](3) NULL,
	[SANGRP] [char](3) NULL,
	[LISTALOC] [numeric](3, 0) NULL,
	[DSOLV] [char](20) NULL,
	[UTILOCAL] [bit] NULL,
	[TIPOPRE] [numeric](1, 0) NULL,
	[DRCONSYS] [bit] NULL,
	[ACESINDI] [bit] NULL,
	[ALTEVEND] [bit] NULL,
	[LANCAUTO] [bit] NULL,
	[PERGFIDE] [char](1) NULL,
	[ALIQPISS] [numeric](5, 2) NULL,
	[ALIQCONF] [numeric](5, 2) NULL,
	[CADAREDU] [bit] NULL,
	[LAYOTRAN] [char](2) NULL,
	[LAYODEVO] [char](2) NULL,
	[LAYOVEND] [char](2) NULL,
	[LAYOCONV] [char](2) NULL,
	[LAYOSCUP] [char](2) NULL,
	[LAYOTEST] [char](2) NULL,
	[TIPOJUR] [char](1) NULL,
	[CONSCHEQ] [numeric](1, 0) NULL,
	[VALEGRP] [char](3) NULL,
	[REGVALE] [char](3) NULL,
	[RECEGRP] [char](3) NULL,
	[REGRECE] [char](3) NULL,
	[DEPOGRP] [char](3) NULL,
	[REGDEPO] [char](3) NULL,
	[VEROPER] [bit] NULL,
	[TRAVDEVO] [bit] NULL,
	[CONFPAG] [bit] NULL,
	[LJUNIC] [bit] NULL,
	[FECHZ] [bit] NULL,
	[LIBELIME] [bit] NULL,
	[CUPEPREC] [numeric](1, 0) NULL,
	[PREVENDA] [bit] NULL,
	[IMPRPREV] [bit] NULL,
	[IMPCOMPL] [bit] NULL,
	[SEMAPERI] [numeric](1, 0) NULL,
	[USARTEF] [bit] NULL,
	[TEMPTEF] [numeric](3, 0) NULL,
	[TEMPFIDE] [numeric](3, 0) NULL,
	[DEDICADO] [bit] NULL,
	[CHEQTEF] [bit] NULL,
	[DIRTEFE] [char](40) NULL,
	[DIRTEFR] [char](40) NULL,
	[CONFENTR] [numeric](1, 0) NULL,
	[IMPRORCA] [char](1) NULL,
	[NOMEPREF] [char](1) NULL,
	[DADOALMO] [char](1) NULL,
	[OPERVEND] [char](1) NULL,
	[TERMSERV] [char](1) NULL,
	[JUROAREC] [numeric](5, 2) NULL,
	[TIPOJURE] [char](1) NULL,
	[FISSRET] [char](4) NULL,
	[FINSSRET] [char](4) NULL,
	[FIRRFRET] [char](4) NULL,
	[FPISCRET] [char](4) NULL,
	[TIPOAPUR] [char](1) NULL,
	[TIPOBASE] [char](1) NULL,
	[BLOQCADA] [char](1) NULL,
	[BLOQNOME] [char](1) NULL,
	[SENHVNOM] [numeric](1, 0) NULL,
	[SENHSTRU] [numeric](1, 0) NULL,
	[SENHABGA] [numeric](1, 0) NULL,
	[SENHDAVA] [numeric](1, 0) NULL,
	[SENHDRET] [numeric](1, 0) NULL,
	[SENHDCRE] [numeric](1, 0) NULL,
	[SENHCITE] [numeric](1, 0) NULL,
	[SENHCHLI] [numeric](1, 0) NULL,
	[SENHDELI] [numeric](1, 0) NULL,
	[SENHDEFO] [numeric](1, 0) NULL,
	[SENHVCPF] [numeric](1, 0) NULL,
	[SENHCLBL] [numeric](1, 0) NULL,
	[SENHCLB2] [numeric](1, 0) NULL,
	[VERIFISE] [bit] NULL,
	[DIREGOOD] [char](30) NULL,
	[CHEQDADO] [char](1) NULL,
	[NIVEPARC] [numeric](1, 0) NULL,
	[NIVEDEVO] [numeric](1, 0) NULL,
	[NIVECPRE] [numeric](1, 0) NULL,
	[NIVECLPR] [numeric](1, 0) NULL,
	[NIVECUIN] [numeric](1, 0) NULL,
	[MASCDEPO] [char](20) NULL,
	[DIRESERV] [char](60) NULL,
	[CODIBASE] [numeric](2, 0) NULL,
	[ENDEBASE] [char](19) NULL,
	[PORTBASE] [numeric](5, 0) NULL,
	[PEDENCRM] [numeric](1, 0) NULL,
	[ALTESERV] [bit] NULL,
	[ENDECOBR] [char](40) NULL,
	[BAIRCOBR] [char](20) NULL,
	[CIDACOBR] [char](20) NULL,
	[ESTACOBR] [char](2) NULL,
	[CCEPCOBR] [char](9) NULL,
	[MESNPED1] [char](60) NULL,
	[MESNPED2] [char](60) NULL,
	[TAMAFILI] [numeric](1, 0) NULL,
	[LANODEVO] [char](2) NULL,
	[LANODEFO] [char](2) NULL,
	[LANOPERD] [char](2) NULL,
	[LANOTRAN] [char](2) NULL,
	[LANOVEND] [char](2) NULL,
	[LANOVECU] [char](2) NULL,
	[LANOAVUL] [char](2) NULL,
	[PRNODEVO] [numeric](2, 0) NULL,
	[PRNODEFO] [numeric](2, 0) NULL,
	[PRNOPERD] [numeric](2, 0) NULL,
	[PRNOTRAN] [numeric](2, 0) NULL,
	[PRNOVEND] [numeric](2, 0) NULL,
	[PRNOVECU] [numeric](2, 0) NULL,
	[MOSTPRIN] [numeric](1, 0) NULL,
	[ANTECONV] [numeric](1, 0) NULL,
	[COPIATEF] [numeric](2, 0) NULL,
	[SOMELIBE] [char](1) NULL,
	[SOMECIMA] [char](1) NULL,
	[VARIMINA] [numeric](8, 2) NULL,
	[BUSCCNPJ] [numeric](1, 0) NULL,
	[FIDEAUTO] [char](1) NULL,
	[CONTOPER] [numeric](1, 0) NULL,
	[CONFIGAG] [bit] NULL,
	[RETOVEND] [bit] NULL,
	[IMPAUTO] [char](1) NULL,
	[POLMANI] [numeric](3, 0) NULL,
	[VLISTALOC] [numeric](12, 2) NULL,
	[CREDONLI] [char](1) NULL,
	[LANOFISC] [char](2) NULL,
	[PRNOFISC] [numeric](2, 0) NULL,
	[NIVEPACO] [numeric](1, 0) NULL,
	[PENDALMO] [char](1) NULL,
	[CONVONLI] [char](1) NULL,
	[SENHCLB3] [numeric](1, 0) NULL,
	[TIPOLJES] [char](1) NULL,
	[BLOQCAIX] [numeric](1, 0) NULL,
	[DECCRE] [numeric](5, 2) NULL,
	[TIPOIMPC] [numeric](5, 2) NULL,
	[SR_RECNO] [numeric](15, 0) IDENTITY(1,1) NOT NULL,
	[SR_DELETED] [char](1) NOT NULL,
	[CONFLOTE] [char](1) NULL,
	[PDVBAIXA] [numeric](4, 0) NULL,
	[PDVENTRADA] [numeric](4, 0) NULL,
	[PDVCRED] [numeric](4, 0) NULL,
	[PDV] [numeric](4, 0) NULL,
	[CABECONV] [bit] NULL,
	[VALIFINA] [char](1) NULL,
	[CARGCONF] [char](1) NULL,
	[PERCMANI] [numeric](5, 2) NULL,
	[PERCSERV] [numeric](5, 2) NULL,
	[TIPOMEDI] [numeric](1, 0) NULL,
	[SOMAIMPO] [char](1) NULL,
	[FDIFAL] [char](4) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENDEDOR]    Script Date: 10/07/2022 14:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDEDOR](
	[CODIGO] [char](4) NULL,
	[NOME] [char](40) NULL,
	[ENDERE] [char](50) NULL,
	[SETOREMP] [char](15) NULL,
	[FUNCEMP] [char](20) NULL,
	[FILIALEMP] [char](2) NULL,
	[INDRED] [numeric](6, 3) NULL,
	[EMPREANT] [char](30) NULL,
	[ESCOLA] [char](20) NULL,
	[COMENTAR1] [char](50) NULL,
	[COMENTAR2] [char](50) NULL,
	[CIDADE] [char](20) NULL,
	[ESTADO] [char](2) NULL,
	[CPFEMP] [char](15) NULL,
	[RGEMP] [char](15) NULL,
	[CTPSEMP] [char](15) NULL,
	[DATADM] [datetime] NULL,
	[DATANASC] [datetime] NULL,
	[SALARIOAD] [numeric](11, 2) NULL,
	[SALARIOAT] [numeric](11, 2) NULL,
	[LIBVEN] [char](1) NULL,
	[SENHA] [char](4) NULL,
	[NIVEL] [numeric](1, 0) NULL,
	[GRUPACES] [char](3) NULL,
	[TROCSENH] [numeric](3, 0) NULL,
	[SENHDIGI] [char](1000) NULL,
	[SENHDIG1] [char](1000) NULL,
	[MAT] [char](20) NULL,
	[DATADEMI] [datetime] NULL,
	[PERCMETA] [numeric](5, 2) NULL,
	[METAVEND] [numeric](11, 2) NULL,
	[GRUPCOMI] [numeric](5, 0) NULL,
	[STATUS] [numeric](1, 0) NULL,
	[MARCCOMP] [char](1) NULL,
	[PADRCOMI] [numeric](1, 0) NULL,
	[SEXOVEND] [numeric](1, 0) NULL,
	[FILTLOJA] [char](100) NULL,
	[DURAALMO] [char](5) NULL,
	[DURALANC] [char](5) NULL,
	[CARTPASS] [char](20) NULL,
	[FILIACLT] [char](2) NULL,
	[UNIDENTR] [datetime] NULL,
	[UNIQUANT] [numeric](5, 0) NULL,
	[UNIPECAS] [numeric](5, 0) NULL,
	[NUMEPIS] [char](20) NULL,
	[IDTOKEN] [char](13) NULL,
	[PDV] [numeric](4, 0) NULL,
	[PDVCLT] [numeric](4, 0) NULL,
	[SR_RECNO] [numeric](15, 0) IDENTITY(1,1) NOT NULL,
	[SR_DELETED] [char](1) NOT NULL,
	[SINCSITE] [numeric](1, 0) NULL,
	[EMAIL] [char](50) NULL,
	[STATTERM] [numeric](1, 0) NULL,
	[TOKENLINKED] [char](255) NULL,
	[TELCELUL] [char](13) NULL,
	[TELEMP] [char](13) NULL
) ON [PRIMARY]
GO
